<!-- Header -->

{{> header/index }}

<!-- Header end -->

<!-- Page Header -->
{{> nav/pageHeader }}
<!-- Page Header end -->

<!-- Content -->
<main id="content">
    <div class="container">
        {{{ body }}}
    </div>
</main>
<!-- Content end -->
<!-- Footer -->

{{> footer/pages }}

<!-- Footer end -->