<div class="tab-pane fade show {{active}}" id="{{trx_type}}" role="tabpanel" aria-labelledby="{{trx_type}}-tab">
    <div class="table-responsive-md">
        <table class="table table-hover border">
            <thead class="thead-light">
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Transaction ID</th>
                    <th class="text-center">Status</th>
                    <th class="text-right">Amount</th>
                    <!-- <th class="text-center"></th> -->
                </tr>
            </thead>
            <tbody>
                {{#each (getTransactions trx_type transactions) }}
                {{> table/historyRow transaction=this }}
                {{else }}
                <tr>
                    <td colspan="6" class="text-center">No Transaction Available...</td>
                </tr>
                {{/each }}
            </tbody>
        </table>
    </div>
</div>