<!-- Footer -->

{{> footer/footer hasPlatformDetail=true }}

<!-- Footer end -->

</div>
<!-- Document Wrapper end -->
<!-- Back to Top -->

{{> footer/backToTop}}

<!-- Back to Top end -->
<!-- Modal Dialog - Login/SignUp  -->

{{> modals/auth }}

<!-- Modal Dialog - Login/SignUp end -->

<!-- Script -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="/js/theme.js"></script>
<script src="/js/app.js"></script>
{{> scripts/error }}
</body>

</html>