<ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all"
            aria-selected="true">
            All
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="airtime-tab" data-toggle="tab" href="#airtime" role="tab" aria-controls="airtime"
            aria-selected="false">
            Airtime Recharge
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="data-bundle-tab" data-toggle="tab" href="#data_bundle" role="tab"
            aria-controls="data_bundle" aria-selected="false">
            Data Bundle
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="cable-tab" data-toggle="tab" href="#cable" role="tab" aria-controls="cable"
            aria-selected="false">
            Cable TV
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="electricity-tab" data-toggle="tab" href="#electricity" role="tab"
            aria-controls="electricity" aria-selected="false">
            Electric Bills
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="transfer_fund-tab" data-toggle="tab" href="#transfer_fund" role="tab"
            aria-controls="transfer_fund" aria-selected="false">
            Fund Transfer
        </a>
    </li>
</ul>