<div class="section pt-4 pb-3">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="mobile-recharge-tab" data-toggle="tab" href="#mobile-recharge" role="tab"
                    aria-controls="mobile-recharge" aria-selected="true">
                    {{ title }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="why-quickai-tab" data-toggle="tab" href="#why-quickai" role="tab"
                    aria-controls="why-quickai" aria-selected="false">
                    Why Wootlab Devcamp
                </a>
            </li>
        </ul>
        <div class="tab-content my-3" id="myTabContent">
            <div class="tab-pane fade show active" id="mobile-recharge" role="tabpanel"
                aria-labelledby="mobile-recharge-tab">
                {{#each tabContent }}

                <p>{{{this}}}</p>

                {{/each}}
            </div>
            <div class="tab-pane fade" id="why-quickai" role="tabpanel" aria-labelledby="why-quickai-tab">
                <p>Cu pro facer sententiae, ne brute graece scripta duo. No placerat quaerendum nec, pri
                    alia ceteros adipiscing ut. Quo in nobis nostrum intellegebat. Ius hinc decore erroribus
                    eu, in case prima exerci pri. Id eum prima adipisci. Ius cu minim theophrastus, legendos
                    pertinacia an nam.</p>
                <p>Partiendo voluptatibus ex cum, sed erat fuisset ne, cum ex meis volumus mentitum. Alienum
                    pertinacia maiestatis ne eum, verear persequeris et vim. Mea cu dicit voluptua
                    efficiantur, nullam labitur veritus sit cu. Eum denique omittantur te, in justo epicurei
                    his, eu mei aeque populo.</p>
                <p>Instant Online mobile recharge Iisque persius interesset his et, in quot quidam
                    persequeris vim, ad mea essent possim iriure. Mutat tacimates id sit. Ridens
                    mediocritatem ius an, eu nec magna imperdiet. Mediocrem qualisque in has. Enim utroque
                    perfecto id mei, ad eam tritani labores facilisis, ullum sensibus no cum. Eius eleifend
                    in quo. At mei alia iriure propriae.</p>
            </div>
        </div>
    </div>
</div>