<div class="row widget-steps">
    <div class="col-6 step complete">
        <div class="step-name">Transaction</div>
        <div class="progress">
            <div class="progress-bar"></div>
        </div>
        <a href="javascript:;" onclick="history.go(-1)" class="step-dot"></a>
    </div>

    <div class="col-6 step active">
        <div class="step-name">Summary</div>
        <div class="progress">
            <div class="progress-bar"></div>
        </div>
        <a href="#" class="step-dot"></a>
    </div>
</div>