<div class="bg-light shadow-md rounded p-4">
    <h2 class="text-6">What is Wootlab Devcamp?</h2>
    <p>Instant Online recharge and Bill Payments Iisque persius interesset his et, in quot quidam persequeris
        vim, ad mea essent possim iriure. Mutat tacimates id sit. Ridens mediocritatem ius an, eu nec <a href="#">magna
            imperdiet</a>. Mediocrem qualisque in has. Enim utroque perfecto id mei, ad eam
        tritani labores facilisis, ullum sensibus no cum. Eius eleifend in quo. At mei alia iriure propriae.</p>
    <p>Partiendo voluptatibus ex cum, sed erat fuisset ne, cum ex meis volumus mentitum. Alienum pertinacia
        maiestatis ne eum, verear persequeris et vim. Mea cu dicit voluptua efficiantur, nullam labitur veritus
        sit cu. Eum denique omittantur te, in justo epicurei his, eu mei aeque populo. Cu pro facer sententiae,
        ne brute graece scripta duo. No placerat quaerendum nec, pri alia <a href="#">ceteros adipiscing</a> ut.
        Quo in nobis nostrum intellegebat. Ius hinc decore erroribus eu, in case prima exerci pri. Id eum prima
        adipisci. Ius cu minim theophrastus, legendos pertinacia an nam.</p>
    <div class="row mt-4 mb-2">
        <div class="col-md-4">
            <div class="featured-box style-1">
                <div class="featured-box-icon text-primary"> <i class="far fa-thumbs-up"></i></div>
                <h3>Why choose Us</h3>
                <p>Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim
                    iriure.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="featured-box style-1">
                <div class="featured-box-icon text-primary"> <i class="far fa-paper-plane"></i> </div>
                <h3>Our Mission</h3>
                <p>Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim
                    iriure.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="featured-box style-1">
                <div class="featured-box-icon text-primary"> <i class="far fa-eye"></i> </div>
                <h3>Our Vision</h3>
                <p>Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim
                    iriure.</p>
            </div>
        </div>
    </div>
    <h2 class="text-6 mb-3">Leadership</h2>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="team"> <img class="img-fluid rounded" alt="" src="images/team/leader.jpg">
                <h3>Neil Patel</h3>
                <p class="text-muted">CEO & Founder</p>
                <ul class="social-icons social-icons-sm d-inline-flex">
                    <li class="social-icons-facebook"><a data-toggle="tooltip" href="http://www.facebook.com/"
                            target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="social-icons-twitter"><a data-toggle="tooltip" href="http://www.twitter.com/"
                            target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li class="social-icons-google"><a data-toggle="tooltip" href="http://www.google.com/"
                            target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="team"> <img class="img-fluid rounded" alt="" src="images/team/leader-2.jpg">
                <h3>James Maxwell</h3>
                <p class="text-muted">Co-Founder</p>
                <ul class="social-icons social-icons-sm d-inline-flex">
                    <li class="social-icons-facebook"><a data-toggle="tooltip" href="http://www.facebook.com/"
                            target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="social-icons-twitter"><a data-toggle="tooltip" href="http://www.twitter.com/"
                            target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li class="social-icons-google"><a data-toggle="tooltip" href="http://www.google.com/"
                            target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="team"> <img class="img-fluid rounded" alt="" src="images/team/leader-3.jpg">
                <h3>Ruby Clinton</h3>
                <p class="text-muted">Co-Founder</p>
                <ul class="social-icons social-icons-sm d-inline-flex">
                    <li class="social-icons-facebook"><a data-toggle="tooltip" href="http://www.facebook.com/"
                            target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="social-icons-twitter"><a data-toggle="tooltip" href="http://www.twitter.com/"
                            target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li class="social-icons-google"><a data-toggle="tooltip" href="http://www.google.com/"
                            target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="team"> <img class="img-fluid rounded" alt="" src="images/team/leader-4.jpg">
                <h3>Miky Sheth</h3>
                <p class="text-muted">Support</p>
                <ul class="social-icons social-icons-sm d-inline-flex">
                    <li class="social-icons-facebook"><a data-toggle="tooltip" href="http://www.facebook.com/"
                            target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="social-icons-twitter"><a data-toggle="tooltip" href="http://www.twitter.com/"
                            target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li class="social-icons-google"><a data-toggle="tooltip" href="http://www.google.com/"
                            target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>