<!-- Buy Airtime -->
<div class="col-lg-4 mb-4 mb-lg-0">
    <h2 class="text-4 mb-3">Buy Airtime</h2>
    <form id="buy-airtime" method="get" action="/buy-airtime/summary">
        <div class="form-group">
            <input type="text" class="form-control" name="mobile" data-bv-field="number" id="mobileNumber" required
                placeholder="Enter Mobile Number" value="+234">
        </div>
        <div class="form-group">
            <input type="text" class="form-c ontrol" name="network" data-bv-field="number" id="mobileNetwork" required
                placeholder="Mobile Network">
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend"> <span class="input-group-text">₦</span> </div>
            <span class="view-plans-link" data-toggle="tooltip" id="rangeOfValidAmount"
                data-original-title="Range of valid amount">(0 -
                0) </span>
            <input class="form-control" name="amount" id="airtime-amount" min="0" max="0" placeholder="Enter Amount"
                required type="number">
        </div>
        <input type="hidden" name="rate" value="1" id="networkChargeRate">
        <button disabled class="btn btn-primary btn-block" id="buy-airtime-submit" type="submit">
            Buy Airtime
        </button>
    </form>
</div>
<!-- Buy Airtime end -->

<!-- Slideshow -->
<div class="col-lg-8">
    <div class="owl-carousel owl-theme single-slider" data-animateout="fadeOut" data-animatein="fadeIn"
        data-autoplay="true" data-loop="true" data-autoheight="true" data-nav="true" data-items="1">
        <div class="item">
            <a href="#">
                <img class="img-fluid" src="/images/slider/banner-1.jpg" alt="banner 1" />
            </a>
        </div>
        <div class="item">
            <a href="#">
                <img class="img-fluid" src="/images/slider/banner-2.jpg" alt="banner 2" />
            </a>
        </div>
    </div>
</div>
<!-- Slideshow end -->
<script src="/js/page/home.js"></script>