<div id="login-signup-page" class="bg-light shadow-md rounded mx-auto p-4">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="nav-item">
            <a id="login-page-tab" class="nav-link active text-4" data-toggle="tab" href="#loginPage" role="tab"
                aria-controls="login" aria-selected="true">
                Login
            </a>
        </li>
        <li class="nav-item">
            <a id="signup-page-tab" class="nav-link text-4" data-toggle="tab" href="#signupPage" role="tab"
                aria-controls="signup" aria-selected="false">
                Sign Up
            </a>
        </li>
    </ul>
    <div class="tab-content pt-4">
        <div class="tab-pane fade show active" id="loginPage" role="tabpanel" aria-labelledby="login-page-tab">
            <p>Don't have an account? <a>sign up </a></p>
            <form id="loginForm" method="post">
  
  <div class="segment">
  </div>
  
  <label>
    <input type="text" placeholder="Email Address"  id="loginEmail" required/>
  </label>
  <label>
    <input type="password"  id="loginPassword" placeholder="Password" required/>
  </label>
  <button class="red" type="submit"> Log in</button>
  
  <div class="segment">
    <button class="unit" type="button" data-toggle="tooltip" data-placement="left" title="back"><i class="fas fa-arrow-left"></i></button>
    <button class="unit" type="button" data-toggle="tooltip" data-placement="right" title="Reset Password"><i class="fas fa-users-cog"></i></button>
  </div>
  
  
  
</form>
            
        </div>
        <div class="tab-pane fade" id="signupPage" role="tabpanel" aria-labelledby="signup-page-tab">
                        <p class="mb-4">Already have an account? <a>Log In </a></p>

            <form id="signupForm" method="post">
                <label >
                    <input type="text"  data-bv-field="number" id="signupFullname" required
                        placeholder="Enter Your Full Name">
                </label>
                <label >
                    <input type="text" data-bv-field="number" id="signupEmail" required
                        placeholder="Email ID">
                </label>
                <label >
                    <input type="text"  id="signupMobile" required placeholder="Mobile Number">
                </label>
                <label >
                    <input type="password"  id="signupPassword" required placeholder="Password">
                </label>
                <label >
                    <input type="password"  id="signupConfirmPassword" required
                        placeholder="Confirm Password">
                </label>
  <button class="red" type="submit"> Sign Up</button>
            </form>
        </div>
    </div>
</div>
<script src="js/page/loginAndSignup.js"></script>