<!-- Buy Airtime -->
<div class="col-lg-4 mb-4 mb-lg-0">
    <h2 class="text-4 mb-3">Transfer Fund</h2>
    <form id="buy-airtime" method="get" action="/fund-transfer/summary">
        <!-- TODO: Add a Payment option (radio buttons) -->
        <div class="form-group">
            <input type="text" class="form-control" name="to" data-bv-field="number" id="receiverNumber" required
                placeholder="Enter Receiver Number">
        </div>
        <div class="form-group">
            <input class="form-control" name="amount" id="airtime-amount" placeholder="Enter Amount To Transfer"
                required type="number">
        </div>
        <button class="btn btn-primary btn-block" id="buy-airtime-submit" type="submit">
            Transfer
        </button>
    </form>
</div>
<!-- Buy Airtime end -->

<!-- Slideshow -->
<div class="col-lg-8">
    <div class="owl-carousel owl-theme single-slider" data-animateout="fadeOut" data-animatein="fadeIn"
        data-autoplay="true" data-loop="true" data-autoheight="true" data-nav="true" data-items="1">
        <div class="item">
            <a href="#">
                <img class="img-fluid" src="images/slider/banner-7.jpg" alt="banner 3" />
            </a>
        </div>
        <div class="item">
            <a href="#">
                <img class="img-fluid" src="images/slider/banner-5.jpg" alt="banner 5" />
            </a>
        </div>
    </div>
</div>
<!-- Slideshow end -->