<section class="section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-lg-6 text-center"> <img class="img-fluid" alt="" src="images/app-mobile.png">
            </div>
            <div class="col-md-7 col-lg-6">
                <h2 class="text-9 font-weight-600 my-4">Download Our Wootlab Devcamp<br class="d-none d-lg-inline-block">
                    Mobile App Now</h2>
                <p class="lead">Download our app for the fastest, most convenient way to send Recharge.</p>
                <p>Ridens mediocritatem ius an, eu nec magna imperdiet. Mediocrem qualisque in has. Enim
                    utroque perfecto id mei, ad eam tritani labores facilisis, ullum sensibus no cum. Eius
                    eleifend in quo.</p>
                <ul>
                    <li>AirtimeRecharge</li>
                    <li>Data Bundles</li>
                    <li>Bill Payments</li>
                    <li>and much more.....</li>
                </ul>
                <div class="d-flex flex-wrap pt-2"> <a class="mr-4" href="#"><img alt=""
                            src="images/app-store.png"></a><a href="#"><img alt=""
                            src="images/google-play-store.png"></a> </div>
            </div>
        </div>
    </div>
</section>