<section class="section bg-light shadow-md pt-4 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="featured-box text-center">
                    <div class="featured-box-icon"> <i class="fas fa-lock"></i> </div>
                    <h4>100% Secure Payments</h4>
                    <p>Moving your card details to a much more secured place.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="featured-box text-center">
                    <div class="featured-box-icon"> <i class="fas fa-thumbs-up"></i> </div>
                    <h4>Trust pay</h4>
                    <p>100% Payment Protection. Easy Return Policy.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="featured-box text-center">
                    <div class="featured-box-icon"> <i class="fas fa-bullhorn"></i> </div>
                    <h4>Refer & Earn</h4>
                    <p>Invite a friend to sign up and earn commissions.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="featured-box text-center">
                    <div class="featured-box-icon"> <i class="far fa-life-ring"></i> </div>
                    <h4>24X7 Support</h4>
                    <p>We're here to help. Have a query and need help ? <a href="/support">Click here</a></p>
                </div>
            </div>
        </div>
    </div>
</section>