<div class="col-lg-4 mt-4 mt-lg-0 ">
    <div class="bg-light-2 p-3">
        <p class="mb-2">We value your Privacy.</p>
        <p class="text-1 mb-0">We will not sell or distribute your contact information. Read our
            <a href="/policy">Privacy Policy</a>.</p>
        <hr>
        <p class="mb-2">Billing Enquiries</p>
        <p class="text-1 mb-0">Do not hesitate to reach our <a href="/support">support team</a>
            if you
            have any
            queries.</p>
    </div>
</div>