<div class="container">
    <section class="section bg-light shadow-md rounded px-5">
        <h2 class="text-9 font-weight-600 text-center">Refer & Earn</h2>
        <p class="lead text-center mb-5">Refer your friends and earn.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="featured-box style-4">
                    <div class="featured-box-icon bg-light-4 text-primary rounded-circle">
                        <i class="fas fa-bullhorn"></i>
                    </div>
                    <h3>You Refer Friends</h3>
                    <p class="text-3">Share your referral link with friends.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="featured-box style-4">
                    <div class="featured-box-icon bg-light-4 text-primary rounded-circle">
                        <i class="fas fa-sign-in-alt"></i>
                    </div>
                    <h3>Your Friends Register</h3>
                    <p class="text-3">Your friends Register with using your referral link.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="featured-box style-4">
                    <div class="featured-box-icon bg-light-4 text-primary rounded-circle">
                        <i class="fas fa-dollar-sign"></i>
                    </div>
                    <h3>Earn You</h3>
                    <p class="text-3">You get a referral commissions.</p>
                </div>
            </div>
        </div>
        <div class="text-center pt-4"> <a href="/auth" class="btn btn-primary">Get Started And Earn</a> </div>
    </section>
</div>